
html,
body{
	margin: 0;
	padding: 0;

}

.container{
	height: 100vh;
	background: url(./Images/bg.jpg);
	background-size: cover;
	background-position: 0;
	//overflow: hidden; /* Overflow hidden to remove space taken by position relative elements */
}
nav{
	display: flex;
	justify-content: space-between;
	position: relative;
	//bottom: 740px;
}
nav .menu{
	width: 27%;
	position: relative;
	
}

.menu-images li{
	list-style-type: none;
	padding: 9px;
}

.font-icons{
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.font-icons li{
	list-style-type: none;
	padding: 6px;
}

.background{
	//background: url(./Images/bg.jpg);
	//height: 100%;
	position: relative;
	background-size: cover;
	background-position: 0;
	z-index: -400;
}

.no-list{
	list-style-type: none;
}

.menu-images{
	background: #333333;
	margin-left: 0;
	height: 100vh;
	width: 90%;
	padding: 4px;
	margin-top: -95px;
	z-index: 150;
	/* position: absolute; */
}

.menu-item{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
}
.menu-item:hover{
	background-color: lightgrey;
}
/* Nav */


.actors{
	/* position: absolute; */
	//
	bottom: 400px;
	top: 232px;
	position: relative;
}

.tickets{
	position: absolute;
	//
	bottom: 700px;
	width: 20%;
	bottom: 45px;
}
.tickets img{
	padding-left: 20px;

}
.cancel img{
	width: 67%;
}
.zoom-out{
	height: 47px;

}

.actors img{
	display: block;
	margin: 0 auto;
	width: 60%;
}

.small-image{
	height: 22px;
	padding: 10px;
	padding-left: 20px;
}

.menu-item:nth-child(6) .small-image{
	height: 49px;
}




.hamburger{
	width: 20%;
	cursor: pointer;	
}




.tickets{
	transition: transform 0.5s;
}
.tickets:hover{
	//transform: translate(10px, -30px);
	transform: rotate(-8deg);
}

.footer-icons{
	position: relative;
	bottom: -212px;
	display: flex;
	justify-content: space-between;
}

.studio{
	margin-top: 65px;
	margin-left: 12px;
}
.ratings{
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: flex-end;

}
.ratings p{
	text-align: right;
	margin: 4px;
}

p a{
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	font-size: 80%;
}

p a:hover{
	color: lightgrey;
}

.sep{
	font-size: 18px;
	font-weight: bolder;
}



.side-menu{
	display: flex;
	justify-content: space-between;
	position: absolute;


}

.side-menu-wrapper{
	display: none;
	/* position: relative; */
}

#wrapper{
	/* position: relative; */
	top: -80px;
}

.cancel{
	margin-top: -55px;
	padding-left: 13px;
	cursor: pointer;
}

.home{
	margin-top: 60px;
}